<% content_for :page_title, "Welcome" %>

<div id="page-container">
  <h1 class="heading-xlarge">A 48px Bold heading</h1>

  <h2 class="heading-large">A 36px Bold heading</h2>

  <h3 class="heading-medium">A 24px Bold heading</h3>

  <h4 class="heading-small">A 19px Bold heading</h4>

  <p>
    A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
  </p>

  <p class="font-xsmall">
    A 16px supporting text paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
  </p>

  <p>
    <a href="#">A 19px link without surrounding text</a>
  </p>

  <p>
    <a href="#">A 19px body copy link</a>. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  </p>

  <a href="#" class="link-back">Back</a>

  <form>
    <label class="form-label" for="full-name-f1">Full name</label>
    <input class="form-control" id="full-name-f1" type="text">
    <a class="button">thanks</a>
  </form>
</div>
