<% content_for :page_title, "Welcome" %>

<h1 class="heading-large">
  <span class="heading-secondary">Paul's code test</span>
  Login App
</h1>

<h1 class="heading-medium">
  Do you already have a personal user account?
</h1>

<p>
  <%= link_to 'Yes, I would like to login', new_user_session_path %>
</p>

<p>
  <%= link_to 'No, I need to create an account', new_user_registration_path %>
</p>

<hr>

<div class="panel panel-border-wide">
  <p>
    The guidelines suggest it's better to split the login/register process into two screens and asking the user whether they are already signed up, before presenting the relevant form.
  </p>
</div>
