<% content_for :page_title, "Welcome" %>

<main id="content">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        <span class="heading-secondary">Paul's code test</span>
        Login App
      </h1>

      <h1 class="heading-medium">
        Do you already have a personal user account?
      </h1>

      <p>
        <a href="#">Yes, I would like to login</a>
      </p>

      <p>
        <a href="#">No, I need to create an account</a>
      </p>

      <hr>

      <div class="panel panel-border-wide">
        <p>
          I'm asking this question because the guidelines suggest it is better to split the login/register process into two screens and asking the user whether they are already signed up, before presenting the relevant form.
        </p>
      </div>

    </div>
  </div>
</main>
